body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #0f122a;
    /* color: white; */
}
h1 {
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
th, td{
    border: 2px solid white;
    text-align: center;
    padding: 10px;
}
th{
    background-color: #e6e6e6;
}
td{
    color: white;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
}
.button:hover{
    background-color: #004d8f;
    color: white;
}
.button.reset {
    background-color: #DC3545;
}
.button.reset:hover {
    background-color: #a71d2a;
}
.hidden{
    display: none;
}
.dropdown-container{
    margin: 20px;
}
label {
    color: white;
}
select {
    padding: 10px 20px;
    border-radius: 20px;
}

.gantt-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.gantt-chart {
    position: relative;
    height: 30px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    margin-bottom: 20px;
}

.gantt-bar {
    position: absolute;
    height: 30px;
    left: 0; 
    width: 100%; 
    background-color: #007bff;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 3px;
    font-size: 14px;
}

.gantt-timeline {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}

.gantt-tick {
    position: relative;
    width: 50px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.gantt-tick::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0%;
    width: 1px;
    height: 10px;
    background-color: white;
    transform: translateX(-50%);
}
.formulas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    background-color: white;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

.formulas-container {
    /* width: 100% auto; */
    display: flex;
    flex-direction: row; /* Aligns sections horizontally */
    justify-content: space-between; /* Evenly distributes space between sections */
    align-items: stretch; /* Ensures all sections align vertically */
    gap: 20px; /* Adds spacing between sections */
    padding: 20px;
}

.section {
    flex: 1; /* Ensures all sections take equal width */
    max-width: 400px; /* Sets a maximum width for sections */
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tooltip {
    font-weight: bold;
    margin-bottom: 10px;
}
.formula {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
.highlight{
    font-weight: bold;
    border: 1px solid #004d8f;
    padding: 5px;
}
